/* Webkit */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #c42212;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000000;
}
/* Akhir Webkit */

.navbar {
    background-color: transparent !important;
    text-decoration: none;
    font-weight: bold;
}

.navbar.scrolled {
    background-color: #c42212 !important;
}

.navbar-brand {
    color: #c42212;
}


.navbar-toggler {
    box-shadow: none !important;
    position: relative;
    display: flex;    
    width: 50px;
    height: 32px;
}

.navbar-toggler.collapsed .a,
.navbar-toggler.collapsed .b,
.navbar-toggler.collapsed .c {
    content: '';
    position: absolute !important;
    width: 50%;
    height: 2px;
    background: #f5f5f5;
    transition: all 0.5s;
}

.navbar-toggler .a,
.navbar-toggler .b,
.navbar-toggler .c {
    position: absolute;
    width: 50%;
    height: 2px;
    background: #f5f5f5;
    transition: all 0.5s;
}

.navbar-toggler.collapsed .a {
    top: 20%;
    transform: rotate(0);
}

.navbar-toggler.collapsed .b {
    top: 46%;
    opacity: 1;
}

.navbar-toggler.collapsed .c {
    top: 72%;
    transform: rotate(0);
}

.navbar-toggler .a {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}

.navbar-toggler .b {
    width: 0;
    top: 50%;
}

.navbar-toggler .c {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
}

.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-nav a {
    color: white;
}

.navbar-brand:hover {
    color: #c42212;
}

.navbar ul {
    text-align: center;
}

.navbar-nav a {
    color: #c42212;
    border-radius: 20px;
}

.navbar-nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.navbar-brand img {
    padding-right: 6px;
}

.jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    text-shadow: 1px 1px #ddd;
    background-image: url(img/bg2.JPG);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h5 {
    font-style: italic;
    margin-left: 10px;
}

.jumbotron hr {
    opacity: 1;
    width: 310px;
    height: 2px;
}

.jumbotron p {
    margin: 0px 0px 2px;
    font-size: 36px;
    font-weight: bold;
}

.jumbotron img {
    margin-top: 60px;
    width: 150px;
    height: 150px;
}

section hr {
    opacity: 1;
    width: 310px;
    height: 2px;
}

.layanan {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.layanan h1 {
    font-weight: 800;
    font-size: 42px;
    color: #c42212;
}

.card .btn {
    color: #000000;
    background: #ffffff;
    opacity: 0;
    transform: translate3d(0, 0, 100px);
    transition: 0.5s;
}

.card .btn:hover {
    background: #ffffff;
}

.card:hover .btn {
    opacity: 1;
}

.card {
    background: linear-gradient(-45deg, #e74c3c, #c42212) !important;
    border: 2px 5px 1px;
    color: #ffffff;
    box-shadow: 0 0 7px #ddd;
}

.card-body {
    transform-style: preserve-3d;
}

.card img {
    width: 128px;
    margin: 12px;
    transform: translate3d(0, 0, 60px);
}

.about {
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    font-weight: bold;
    background-image: url(img/bg2.JPG);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.about img {
    margin-top: 0;
    width: 400px;
    height: 300px;
}


.about hr {
    width: 120px;
    color: white;
    height: 2px;
}

.contact {
    padding-top: 4rem;
}

.contact h1 {
    font-weight: 800;
    font-size: 42px;
    color: #c42212;
}

.contact .btn {
    width: 100%;
    background: #c42212;
    color: white;
}

.contact .btn:hover {
    background: #13539e;
}

.container {
    overflow: hidden;
}

.control-form {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.control-form label {
    font-weight: bold;
}

.control-form i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.control-form small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.control-form.success input,
.control-form.success textarea {
    border-color: #2ecc71;
}

.control-form.error input,
.control-form.error textarea {
    border-color: #e74c3c;
}

.control-form.success i.bi-check-circle-fill {
    color: #2ecc71;
    visibility: visible;
}

.control-form.error i.bi-exclamation-circle-fill {
    color: #e74c3c;
    visibility: visible;
}

.control-form.error small {
    color: #e74c3c;
    visibility: visible;
}


@media (max-width: 768px) {
    .jumbotron .col-md-4 {
        content-visibility: hidden;
    }
    .about .col-md-4 {
        content-visibility: hidden;
    }
}